@page "/"

@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

App is running.

Connection status: @connectionStatus


@code {
	private string connectionStatus = "Disconnected";

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		connectionStatus = "Connected";
	}
}


